<div class="row">
  <div class="col-xs-12">
    <div class="row center-xs">
      <div class="col-xs-12">
        <div class="logo_cece">
        <img src="{{asset "images/CECE_LOGO.png"}}" alt="" />
        </div>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-xs-12">
        <p class="derechos_autor">Diseño y Código por <a href="mailto:ditorojuanf@gmail.com"><b>Juan Di Toro</b></a>. Publicado por <a href="http://devion.io"><b>Devion C.A</b></a>.</br>2016.</p>
      </div>
    </div>
  </div>
</div>
