{{!< default}}
  <div class="cw_header">
    <div class="cw_header_container">
        <img src="/assets/images/cw_logo.png" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 cw_container" style="padding-left: 2rem;">
      <div class="row">
          <div class="cw_content cw_content_1 col-xs-12 col-md-offset-3 col-md-6" >
            <div class="cw_1">
            <h1 class="cw_content_title">Proyección</h1>
            <p>
              El COMMERCE WEEK surgió por primera vez en la gestión del CeceUSB 2014-2015. Nació para crear
    mayor filiación de los estudiantes de comercio exterior con su carrera y darse a conocer ante el resto. Es la
    semana de foros más larga que se realiza desde el CeceUSB y es uno de los eventos de mayor participación
    dentro de la USB. Los temas a tratar de la primera edición fueron Aduanas, Economía, Emprendimiento y
    Marketing donde se contó con 5 ponentes y la participación de más de 300 personas por día.</br></br>

    Este año el COMMERCE WEEK, se volverá a realizar en el paraninfo del rectorado de la USB con el
    mismo propósito y buscando ampliar su alcance. Se cambio el tema de Aduanas por “Nuevas Tendencias” y
    se redujo la cantidad de ponentes por día a 4.</br></br>

    El proyecto busca generar un crecimiento para una comunidad más íntegra y profesional; y a su vez, es
    un evento que comenzó a crear una nueva tradición cultural y académica para las futuras gestiones del
    CeceUSB.</br></br>
            </p>
          </div>
        </div>
          <div class="cw_content_2">
            <div class="cw_content col-xs-12 col-md-offset-4 col-md-4">
              <div class="cw_2">
              <h1 class="cw_content_title">¿DE QUE SE TRATA?</h1>
              <p>
                Es una semana de foros elaborada por el CeceUSB para todos los que quieran desarrollarse de forma
profesional e íntegramente en distintos temas. Contamos con distintos ponentes especializados en
distintas áreas relacionadas con el comercio.
              </p>
            </div>
        </div>
        <div class="cw_content_2_icc" >
          <div class="row">
            <div class="cw_quote col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
              <h1 class="cw_content_title">ICC Capítulo Venezolano participó del Commerce Week,en el área de aduanas, en la Casa de Estudios Universidad Simón Bolívar.</h1>
        <p>
          El Centro de Estudiantes de Comercio Exterior (CECE)  USB decidió emprender actividades académicas, recreativas, culturales y sociales que involucrasen a la comunidad universitaria. De esta manera surge la semana de foros llamada “Commerce Week” realizado en el Paraninfo del Rectorado en la USB, donde participaron veinte (20) ponentes especializados en diferentes áreas, el evento constó de 4 días  de duración del 1 al 4 de Junio, donde se trataron temas referentes a aduanas, mercadeo, emprendimiento y economía.</br></br>

El primer día de conferencias, estuvo enfocado al área de Aduanas, donde se presentaron: el profesor Marco Dorado , quien habló sobre La reforma de la Ley Orgánica de Aduanas: Cambios y desafíos, también participó el Docente perteneciente a ICC Venezuela,  José Luis González  Galarza , con la Reforma de la Ley Orgánica de Aduanas,  haciendo referencia a los efectos en la competitividad, posteriormente la licenciada María Alejandra Tovar , Coordinadora Académica de ICC, expuso sobre los Instrumentos diseñados por la Cámara de Comercio Internacional en el ámbito aduanal.</br></br>


El día martes 02 de junio las conferencias se abocaron al área de Mercadeo, el miércoles 03 de junio se trató el tema de Emprendimiento y el área a tratar del último día, jueves 04 de junio fue Economía.
</br></br>
El evento se desenvolvió de manera exitosa y se contó con la presencia de un aproximado de 200 personas, el objetivo principal de la primera edición del “Commerce Week” es incrementar el posicionamiento de la carrera de Comercio Exterior y su vez  brindarle a los estudiantes herramientas útiles para su formación y desenvolvimiento laboral.
</br></br>
La Cámara de Comercio Internacional capítulo venezolano, está comprometida con el desarrollo académico y empresarial del país, por lo que se mantiene continuamente a la vanguardia del conocimiento y agradece a la Universidad Simón Bolívar y a los organizadores del evento por impulsar este tipo de actividades.
</br>
</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cw_content_3">
        <div class="cw_content col-xs-12 col-md-offset-3 col-md-4">
          <div class="cw_3">
          <h1 class="cw_content_title">¿DE QUE SE TRATA?</h1>
          <p>
            Es una semana de foros elaborada por el CeceUSB para todos los que quieran desarrollarse de forma
profesional e íntegramente en distintos temas. Contamos con distintos ponentes especializados en
distintas áreas relacionadas con el comercio.
          </p>
        </div>
    </div>
  </div>
    </div>
    </div>
  </div>
