{{!< default}}
  <div class="cw_header">
    <div class="cw_header_container">
        <img src="/assets/images/cw_logo.png" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="cw_container">
      <div class="row">
        <div class="cw_content_1">
          <div class="cw_content col-xs-12 col-md-offset-3 col-md-6" >
            <div class="cw_1">
            <h1 class="cw_content_title">Proyección</h1>
            <hr>
            <p>
              El COMMERCE WEEK surgió por primera vez en la gestión del CeceUSB 2014-2015. Nació para crear
    mayor filiación de los estudiantes de comercio exterior con su carrera y darse a conocer ante el resto. Es la
    semana de foros más larga que se realiza desde el CeceUSB y es uno de los eventos de mayor participación
    dentro de la USB. Los temas a tratar de la primera edición fueron Aduanas, Economía, Emprendimiento y
    Marketing donde se contó con 5 ponentes y la participación de más de 300 personas por día.</br></br>

    Este año el COMMERCE WEEK, se volverá a realizar en el paraninfo del rectorado de la USB con el
    mismo propósito y buscando ampliar su alcance. Se cambio el tema de Aduanas por “Nuevas Tendencias” y
    se redujo la cantidad de ponentes por día a 4.</br></br>

    El proyecto busca generar un crecimiento para una comunidad más íntegra y profesional; y a su vez, es
    un evento que comenzó a crear una nueva tradición cultural y académica para las futuras gestiones del
    CeceUSB.</br></br>
            </p>
          </div>
        </div>
        </div>
      </div>
          <div class="cw_content_2 row">
            <div class="cw_content col-xs-12 col-md-offset-4 col-md-4">
              <div class="cw_2">
              <h1 class="cw_content_title">¿DE QUE SE TRATA?</h1>
              <hr>
              <p>
                Es una semana de foros elaborada por el CeceUSB para todos los que quieran desarrollarse de forma
profesional e íntegramente en distintos temas. Contamos con distintos ponentes especializados en
distintas áreas relacionadas con el comercio.
              </p>
            </div>
        </div>
      </div>
        <div class="cw_content_2_icc" style=" margin-right: -0.5rem">
          <div>
            <div class="cw_quote col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8" style="padding: 2% ;">
              <h1 class=" cw_content_title cw_content_icc_title">ICC Capítulo Venezolano participó del Commerce Week,en el área de aduanas, en la Casa de Estudios Universidad Simón Bolívar.</h1>
        <p>
          El Centro de Estudiantes de Comercio Exterior (CECE)  USB decidió emprender actividades académicas, recreativas, culturales y sociales que involucrasen a la comunidad universitaria. De esta manera surge la semana de foros llamada “Commerce Week” realizado en el Paraninfo del Rectorado en la USB, donde participaron veinte (20) ponentes especializados en diferentes áreas, el evento constó de 4 días  de duración del 1 al 4 de Junio, donde se trataron temas referentes a aduanas, mercadeo, emprendimiento y economía.</br></br>

El primer día de conferencias, estuvo enfocado al área de Aduanas, donde se presentaron: el profesor Marco Dorado , quien habló sobre La reforma de la Ley Orgánica de Aduanas: Cambios y desafíos, también participó el Docente perteneciente a ICC Venezuela,  José Luis González  Galarza , con la Reforma de la Ley Orgánica de Aduanas,  haciendo referencia a los efectos en la competitividad, posteriormente la licenciada María Alejandra Tovar , Coordinadora Académica de ICC, expuso sobre los Instrumentos diseñados por la Cámara de Comercio Internacional en el ámbito aduanal.</br></br>


El día martes 02 de junio las conferencias se abocaron al área de Mercadeo, el miércoles 03 de junio se trató el tema de Emprendimiento y el área a tratar del último día, jueves 04 de junio fue Economía.
</br></br>
El evento se desenvolvió de manera exitosa y se contó con la presencia de un aproximado de 200 personas, el objetivo principal de la primera edición del “Commerce Week” es incrementar el posicionamiento de la carrera de Comercio Exterior y su vez  brindarle a los estudiantes herramientas útiles para su formación y desenvolvimiento laboral.
</br></br>
La Cámara de Comercio Internacional capítulo venezolano, está comprometida con el desarrollo académico y empresarial del país, por lo que se mantiene continuamente a la vanguardia del conocimiento y agradece a la Universidad Simón Bolívar y a los organizadores del evento por impulsar este tipo de actividades.
</br>
</p>
            </div>
          </div>
        </div>
      <div class="cw_content_3 row">
        <div class="cw_content col-xs-12 col-md-offset-1 col-md-10 ">
          <div class="cw_3">
          <h1 class="cw_content_title">TEMAS</h1>
          <hr>
            <p class="tema">EMPRENDIMIENTO <i style="font-weight: 200; fonti-size: .7em;">Lunes 06/06/2016</i> </p>
                <div class="row ponentes">
                    <div class="ponente col-xs-12 col-md">
                      <div class="ponente_perfil perfil_1">
                      </div>
                      <div class="ponente_info">
                        <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Stephan Kaiser</p>
                        <p style="font-size: .8em; text-align: left;">
                          Coach motivacional.
                        </p>
                          <p style="color: black; font-size: .75em;"><strong> Tema: </strong> Surfea la Ola. </br><i style="font-weight: 200;">HORA: 9:00 AM</i></p>
                      </div>
                  </div>
                  <div class="ponente col-xs-12 col-md">
                    <div class="ponente_perfil perfil_2">
                    </div>
                    <div class="ponente_info">
                      <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Richard Tovar</p>
                      <p style="font-size: .8em; text-align: left;">
                        Licenciado En Educación Mención Ciencias Pedagógicas. Director en Franquicias en SAEJEE Business School. Fundador y Socio estratégico en ÍNDIGO Agency.

                      </p>
                        <p style="color: black; font-size: .75em;"><strong> Tema: </strong>Transformación por el cambio.</br> <i style="font-weight: 200;">HORA: 10:00 AM</i></p>
                    </div>
                </div>
                <div class="ponente col-xs-12 col-md">
                  <div class="ponente_perfil perfil_3">
                  </div>
                  <div class="ponente_info">
                    <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Simón Milá de la Roca </p>
                    <p style="font-size: .8em; text-align: left;">
                      Lic. en Administración de Empresas de la USM. Especialización en franquicias de la Universidad de Sao Paolo. Fundador y CEO de la Franquicia Bienplanchao.

                    </p>
                      <p style="color: black; font-size: .75em;"><strong> Tema: </strong>Emprendedor desde Niño. </br><i style="font-weight: 200;">HORA: 11:00 AM</i></p>
                  </div>
              </div>
              <div class="ponente col-xs-12 col-md">
                <div class="ponente_perfil perfil_4">
                </div>
                <div class="ponente_info">
                  <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Carlos Nuñez  </p>
                  <p style="font-size: .8em; text-align: left;">
                    Ingeniero en Sistemas, con especialización en: Gerencia, franquicias, logística, finanzas y mercadeo, es empresario y actualmente Presidente de la Cámara Venezolana de Franquicias.
                  </p>
                    <p style="color: black; font-size: .75em;"><strong> Tema: </strong> Mas alla de la aventura (Viaje a Alaska en moto). </br><i style="font-weight: 200;">HORA: 12:00 PM</i></p>
                </div>
            </div>
      </div>
      <hr>
      <p class="tema">MARKETING <i style="font-weight: 200; fonti-size: .7em;">Martes 07/06/2016</i> </p>
          <div class="row ponentes">
              <div class="ponente col-xs-12 col-md">
                <div class="ponente_perfil perfil_5">
                </div>
                <div class="ponente_info">
                  <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Daniel Guerra</p>
                  <p style="font-size: .8em; text-align: left;">
                   Director en Marketing del Bueno.
                  </p>
                    <p style="color: black; font-size: .75em;"><strong> Tema: </strong> AmarKeting. </br><i style="font-weight: 200;">HORA: 10:00 AM</i></p>
                </div>
            </div>
            <div class="ponente col-xs-12 col-md">
              <div class="ponente_perfil perfil_6">
              </div>
              <div class="ponente_info">
                <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Héctor Barboza</p>
                <p style="font-size: .8em; text-align: left;">
                  Co-Fundador de a&b producciones + Fundación Plátanoverde, Publicista – director audiovisual – gestor cultural y afines.

                </p>
                  <p style="color: black; font-size: .75em;"><strong> Tema: </strong> En el Camino.</br> <i style="font-weight: 200;">HORA: 11:00 AM</i></p>
              </div>
          </div>
          <div class="ponente col-xs-12 col-md">
            <div class="ponente_perfil perfil_7">
            </div>
            <div class="ponente_info">
              <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Carlos Tang</p>
              <p style="font-size: .8em; text-align: left;">
              Brand Consulting y Radion Ink.

              </p>
                <p style="color: black; font-size: .75em;"><strong> Tema: </strong> El Secreto es el Branding. </br><i style="font-weight: 200;">HORA: 12:00 PM</i></p>
            </div>
        </div>
        <div class="ponente col-xs-12 col-md">
          <div class="ponente_perfil perfil_8">
          </div>
          <div class="ponente_info">
            <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Gustavo Velasquez</p>
            <p style="font-size: .8em; text-align: left;">
              Brand Consulting y Radion Ink.
            </p>
              <p style="color: black; font-size: .75em;"><strong> Tema: </strong> El Secreto es el Branding. </br><i style="font-weight: 200;">HORA: 12:00 PM</i></p>
          </div>
      </div>
      <div class="ponente col-xs-12 col-md">
        <div class="ponente_perfil perfil_9">
        </div>
        <div class="ponente_info">
          <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Gustavo Chourio</p>
          <p style="font-size: .8em; text-align: left;">
            Brand Consulting y Radion Ink.
          </p>
            <p style="color: black; font-size: .75em;"><strong> Tema: </strong> El Secreto es el Branding. </br><i style="font-weight: 200;">HORA: 12:00 PM</i></p>
        </div>
    </div>
  </div>
    <hr>
    <p class="tema">ECONOMÍA <i style="font-weight: 200; fonti-size: .7em;">Miércoles 08/06/2016</i> </p>
        <div class="row ponentes">
            <div class="ponente col-xs-12 col-md">
              <div class="ponente_perfil perfil_10">
              </div>
              <div class="ponente_info">
                <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Joaquin Aguilar  </p>
                <p style="font-size: .8em; text-align: left;">
                 Diputado por el estado Trujillo y presidente de Fedecámaras Trujillo.
                </p>
                  <p style="color: black; font-size: .75em;"><strong> Tema: </strong> 10 pasos para salir de la Crisis Económica. </br><i style="font-weight: 200;">HORA: 9:00 AM</i></p>
              </div>
          </div>
          <div class="ponente col-xs-12 col-md">
            <div class="ponente_perfil perfil_11">
            </div>
            <div class="ponente_info">
              <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Miguel Aponte</p>
              <p style="font-size: .8em; text-align: left;">
              Economista y consultor financiero, egresado de la UCV. Profesor de teoría económica en la Facultad de Farmacia, UCV. Articulista de opinión diario El Tiempo de Puerto La Cruz y otros medios digitales.

              </p>
                <p style="color: black; font-size: .75em;"><strong> Tema: </strong> Economía y Locura (Nuevos antiguos problemas de la ciencia económica).</br> <i style="font-weight: 200;">HORA: 10:00 AM</i></p>
            </div>
        </div>
        <div class="ponente col-xs-12 col-md">
          <div class="ponente_perfil perfil_12">
          </div>
          <div class="ponente_info">
            <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Pedro Pedrosa</p>
            <p style="font-size: .8em; text-align: left;">
              Oficial retirado de la Armada, Msc Relaciones Internacionales, especialista en derecho y política internacional, consultor político, profesor UCV, conductor del programa radial "no es lo mismo" y autor del libro "así se exportó la revolución".

            </p>
              <p style="color: black; font-size: .75em;"><strong> Tema: </strong> Fallas del proceso cognitivo del venezolano. </br><i style="font-weight: 200;">HORA: 11:00 AM</i></p>
          </div>
      </div>
      <div class="ponente col-xs-12 col-md">
        <div class="ponente_perfil perfil_17">
        </div>
        <div class="ponente_info">
          <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Boris Ackerman Vaisman	</p>
          <p style="font-size: .8em; text-align: left;">
            Ingeniero en Computación  - Universidad Simón Bolívar, USB  Caracas. Master en Administración Financiera – Instituto de Estudios Superiores de Administración IESA, Caracas.

          </p>
            <p style="color: black; font-size: .75em;"><strong> Tema: </strong> Las Finanzas del Emprendedor. </br><i style="font-weight: 200;">HORA: 12:00 PM</i></p>
        </div>
    </div>
</div>
<hr>
<p class="tema">NUEVAS TENDENCIAS <i style="font-weight: 200; fonti-size: .7em;">Jueves 09/06/2016</i> </p>
    <div class="row ponentes">
        <div class="ponente col-xs-12 col-md">
          <div class="ponente_perfil perfil_13">
          </div>
          <div class="ponente_info">
            <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Eduardo Peña </p>
            <p style="font-size: .8em; text-align: left;">
             Fundador de Drone Venezuela.
            </p>
              <p style="color: black; font-size: .75em;"><strong> Tema: </strong> Cámaras Voladoras, Tecnología en el Cielo. </br><i style="font-weight: 200;">HORA: 9:00 AM</i></p>
          </div>
      </div>
      <div class="ponente col-xs-12 col-md">
        <div class="ponente_perfil perfil_14">
        </div>
        <div class="ponente_info">
          <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Lenin Wilhelm </p>
          <p style="font-size: .8em; text-align: left;">
          Director del instituto venezolano de programación neurolingüística.

          </p>
            <p style="color: black; font-size: .75em;"><strong> Tema: </strong> Negociar en Libertad.</br> <i style="font-weight: 200;">HORA: 10:00 AM</i></p>
        </div>
    </div>
    <div class="ponente col-xs-12 col-md">
      <div class="ponente_perfil perfil_15">
      </div>
      <div class="ponente_info">
        <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Francisco Hernandez </p>
        <p style="font-size: .8em; text-align: left;">
          CEO & Partner en Webbiz Group, Cofundador en Bloxie.co y Cofundador en Mundo Ecolecuá.

        </p>
          <p style="color: black; font-size: .75em;"><strong> Tema: </strong> Lean Startup. </br><i style="font-weight: 200;">HORA: 11:00 AM</i></p>
      </div>
  </div>
  <div class="ponente col-xs-12 col-md">
    <div class="ponente_perfil perfil_16">
    </div>
    <div class="ponente_info">
      <p style="font-size: .95em; text-align: center; text-decoration: underline; line-height: 1em; color: #1d1d1d;">Gabriel Harting </p>
      <p style="font-size: .8em; text-align: left;">
        Fundador de Hart Group.

      </p>
        <p style="color: black; font-size: .75em;"><strong> Tema: </strong> . </br><i style="font-weight: 200;">HORA: 12:00 PM</i></p>
    </div>
</div>
</div>

<div class="cw_content_4 row">
  <div class="cw_content col-xs-12 ">
    <div class="cw_4">
    <div class="inscribete"><a target="_blank" href="https://stefaniagoncalves.typeform.com/to/iEteWS">Inscribete Ya !</a></div>
  </div>
</div>
</div>
<!-- footer -->
<div class="row center-xs">
  <div class="col-xs-12">
    <p class="derechos_autor" style="text-align:center;">Diseño y Código por <a  target="_blank" href="mailto:ditorojuanf@gmail.com" style="color:#2f2b68;"><b>Juan Di Toro</b></a>. Publicado por <a href="http://devion.io" style="color:#2f2b68;"><b>Devion C.A</b></a>.</br>2016.</p>
  </div>

      </div>
    </div>
  </div>
    </div>
    </div>
  </div>
  <script src="/assets/js/cw_script.js" type="text/javascript"></script>
